In [1]:
import numpy as np

In [2]:
p = np.arange(12)
p

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [15]:
print('Split the array at positions indicated 1-D array :')
#np.split(p,2)
np.split(p, [3,8])

Split the array at positions indicated 1-D array :

[array([0, 1, 2]), array([3, 4, 5, 6, 7]), array([ 8,  9, 10, 11])]

In [8]:
array = np.array([['IBM','Apple Inc.','Intel','Sony','Dell','Akamai'],
                  ['New York','California','California','Texas','Washington',
                  'Massachusetts']], dtype = '<U13')
array

array([['IBM', 'Apple Inc.', 'Intel', 'Sony', 'Dell', 'Akamai'],
       ['New York', 'California', 'California', 'Texas', 'Washington',
        'Massachusetts']], dtype='<U13')

In [9]:
#horizontal split - columnwise
x1, x2 = np.hsplit(array,2)

In [10]:
print('x1: \n', x1)
print('x2: \n', x2)

x1:
 [['IBM' 'Apple Inc.' 'Intel']
 ['New York' 'California' 'California']]
x2:
 [['Sony' 'Dell' 'Akamai']
 ['Texas' 'Washington' 'Massachusetts']]

In [11]:
np.hsplit(array,6)

[array([['IBM'],
        ['New York']], dtype='<U13'),
 array([['Apple Inc.'],
        ['California']], dtype='<U13'),
 array([['Intel'],
        ['California']], dtype='<U13'),
 array([['Sony'],
        ['Texas']], dtype='<U13'),
 array([['Dell'],
        ['Washington']], dtype='<U13'),
 array([['Akamai'],
        ['Massachusetts']], dtype='<U13')]

In [12]:
#vertical split - row-wise
y1, y2 = np.vsplit(array,2)

In [13]:
print('y1: \n', y1)
print('y2: \n', y2)

y1:
 [['IBM' 'Apple Inc.' 'Intel' 'Sony' 'Dell' 'Akamai']]
y2:
 [['New York' 'California' 'California' 'Texas' 'Washington'
  'Massachusetts']]